# üèÄ NBA 2024-2025: Slumps & Recoveries
## Notebook 02 - Data Cleaning & Preparation, Part 2
This notebook loads, inspects, and cleans the qualified players' game logs from the 2024-2025 NBA regular season. However, this time, the raw `.txt` file no longer has the column shift error.

> Note: This notebook is **almost identical to Notebook 01**.

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import re

___
## Load Raw Data

In [4]:
# Load raw NBA 2024-2025 qualified players' game logs
df = pd.read_csv(r"C:\Users\dylan\OneDrive\Documents\Portfolio_Projects\project10_NBA_2025_game_logs\01_original_data\to_clean\NBA_game_logs_2024_25_edited.txt")
df

,Player,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,Jarrett Allen,Gcar,Gtm,Date,Team,NaN,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
1,1,487,1,2024-10-23,CLE,@,TOR,W 136-106,*,26:05,...,5,7,1,1,4,1,1,14,16.7,8
2,2,488,2,2024-10-25,CLE,NaN,DET,W 113-101,*,31:13,...,11,11,2,1,1,1,0,17,19.1,3
3,3,489,3,2024-10-26,CLE,@,WAS,W 135-116,*,25:04,...,4,5,1,1,2,0,1,23,24.2,13
4,4,490,4,2024-10-28,CLE,@,NYK,W 110-104,*,31:24,...,10,15,1,1,0,2,2,15,16.7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9715,76,158,78,2025-04-06,BRK,NaN,TOR,L 109-120,*,20:26,...,7,7,4,0,1,3,0,13,10.5,2
9716,76,NaN,79,2025-04-08,BRK,NaN,NOP,W 119-114,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
9717,77,159,80,2025-04-10,BRK,NaN,ATL,L 109-133,*,17:13,...,3,3,3,0,0,6,4,10,-0.1,-17
9718,78,160,81,2025-04-11,BRK,@,MIN,L 91-117,*,23:53,...,4,5,6,1,0,1,2,20,22.4,-7
9719,79,161,82,2025-04-13,BRK,NaN,NYK,L 105-113,*,36:44,...,7,9,4,1,0,4,5,14,7.8,-12

___
## Initial Checks

In [6]:
# Rows and columns
print(f"Number of rows: {df.shape[0]:,}")
print(f"Number of columns: {df.shape[1]:,}")

Number of rows: 9,720
Number of columns: 34

In [7]:
# All column names
df.columns

Index(['Player', 'Gcar', 'Gtm', 'Date', 'Team', 'Unnamed: 5', 'Opp', 'Result',
       'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'GmSc', '+/-'],
      dtype='object')

___
## Clean

In [9]:
# Drop full season statistics rows (i.e., where Date is NaN)
df = df.dropna(subset=["Date"]).reset_index(drop=True)

In [10]:
# Detect where new player block starts
mask = df["Gcar"] == "Gcar"

# Create new `player_name` column
df.loc[mask, "player_name"] = df.loc[mask, "Player"]

# Forward fill player names down each player's block
df["player_name"] = df["player_name"].ffill()

In [11]:
# Drop all internal header rows (e.g., where df["Gcar"] = "Gcar")
df = df[df["Gcar"] != "Gcar"].reset_index(drop=True)

In [12]:
# Reorder columns so that `player_name` column is first
cols = ["player_name"] + [c for c in df.columns if c != "player_name"]
df = df[cols]

In [13]:
# Drop unnecessary columns
df = df.drop(columns=["Player", "Gcar", "GmSc"], errors="ignore")

In [14]:
# Rename columns for clarity
df = df.rename(columns={
    "Gtm": "team_game",
    "Date": "game_date",
    "Unnamed: 5": "home_or_away",
    "Opp": "opponent",
    "GS": "started_game",  # boolean
    "MP": "minutes_played",
    "FG": "field_goals_made",
    "FGA": "field_goals_attempted",
    "FG%": "field_goal_pct",
    "3P": "three_pointers_made",
    "3PA": "three_pointers_attempted",
    "3P%": "three_point_pct",
    "2P": "two_pointers_made",
    "2PA": "two_pointers_attempted",
    "2P%": "two_point_pct",
    "eFG%": "effective_fg_pct",
    "FT": "free_throws_made",
    "FTA": "free_throws_attempted",
    "FT%": "free_throw_pct",
    "ORB": "offensive_rebounds",
    "DRB": "defensive_rebounds",
    "TRB": "total_rebounds",
    "AST": "assists",
    "STL": "steals",
    "BLK": "blocks",
    "TOV": "turnovers",
    "PF": "personal_fouls",
    "PTS": "points",
    "+/-": "plus_minus"
})

# Ensure all column names are lowercase
df.columns = df.columns.str.lower()

In [15]:
# Set up `home_or_away` values
df["home_or_away"] = df["home_or_away"].replace({"@": "away"}).fillna("home")

In [16]:
# Set up `started_game` values
df["started_game"] = (
    df["started_game"]
    .replace({
        "*": True,
        "Inactive": False,
        "Did Not Dress": False,
        "Did Not Play": False,
        "Not With Team": False,
        "Suspended": False,
        np.nan: False
    }).astype(bool)
)

C:\Users\dylan\AppData\Local\Temp\ipykernel_4436\3207929300.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace({

In [17]:
# Extract W/L from `result`
df["wl"] = df["result"].str[0]

# Extract score from `result` (e.g. "115-110")
df["score"] = df["result"].str.extract(r"(\d+-\d+)")

# Extract overtime indicator (did game go to OT?)
df["overtime"] = df["result"].str.contains(r"\(.*OT\)", regex=True)

In [18]:
# Extract team and opponent point totals from `score`
df[["team_points", "opponent_points"]] = df["score"].str.split("-", expand=True)
df[["team_points", "opponent_points"]] = df[["team_points", "opponent_points"]].apply(pd.to_numeric, errors="coerce").astype("Int64")

# Compute point differential
df["point_diff"] = df["team_points"] - df["opponent_points"]

# Drop `result` and `score` columns (no longer necessary)
df = df.drop(columns=["result", "score"], errors="coerce")

In [19]:
# Create a `shoots` column (right-handed or left-handed)
df["shoots"] = np.select(
    [df["player_name"].str.contains(r"\*", regex=True)],
    ["Left"],
    default="Right"
)

# Remove any * from `player_name` column
df["player_name"] = df["player_name"].str.replace(r"\*", "", regex=True).str.strip()

In [20]:
# Strip any stray spaces in all object/string columns
for col in df.select_dtypes(include=["object", "string"]).columns:
    df[col] = df[col].str.strip()

___
## Data Types

In [22]:
# Check data types
df.dtypes

player_name                 object
team_game                   object
game_date                   object
team                        object
home_or_away                object
opponent                    object
started_game                  bool
minutes_played              object
field_goals_made            object
field_goals_attempted       object
field_goal_pct              object
three_pointers_made         object
three_pointers_attempted    object
three_point_pct             object
two_pointers_made           object
two_pointers_attempted      object
two_point_pct               object
effective_fg_pct            object
free_throws_made            object
free_throws_attempted       object
free_throw_pct              object
offensive_rebounds          object
defensive_rebounds          object
total_rebounds              object
assists                     object
steals                      object
blocks                      object
turnovers                   object
personal_fouls              object
points                      object
plus_minus                  object
wl                          object
overtime                      bool
team_points                  Int64
opponent_points              Int64
point_diff                   Int64
shoots                      object
dtype: object

In [23]:
# Convert `minutes_played` from mm:ss to float
def convert_minutes_to_float(x):
    if pd.isna(x) or x == "" or ":" not in str(x):
        return np.nan
    try:
        m, s = str(x).split(":")
        return int(m) + int(s)/60
    except ValueError:
        return np.nan

df["minutes_played"] = df["minutes_played"].apply(convert_minutes_to_float)

In [24]:
# Define column groups by data type
date_cols = ["game_date"]

int_cols = [
    "team_game", "team_points", "opponent_points", "point_diff",
    "field_goals_made", "field_goals_attempted",
    "three_pointers_made", "three_pointers_attempted",
    "two_pointers_made", "two_pointers_attempted",
    "free_throws_made", "free_throws_attempted",
    "offensive_rebounds", "defensive_rebounds", "total_rebounds",
    "assists", "steals", "blocks", "turnovers", "personal_fouls",
    "points", "plus_minus"
]

float_cols = [
    "minutes_played", "field_goal_pct", "three_point_pct",
    "two_point_pct", "effective_fg_pct", "free_throw_pct"
]

In [25]:
# Apply data type conversions
df[date_cols] = df[date_cols].apply(pd.to_datetime, errors="coerce")

df[int_cols] = df[int_cols].apply(pd.to_numeric, errors="coerce")
df[int_cols] = df[int_cols].round(0)
df[int_cols] = df[int_cols].astype("Int64")

df[float_cols] = df[float_cols].apply(pd.to_numeric, errors="coerce").astype(float)

In [26]:
# Confirm updated data types
df.dtypes

player_name                         object
team_game                            Int64
game_date                   datetime64[ns]
team                                object
home_or_away                        object
opponent                            object
started_game                          bool
minutes_played                     float64
field_goals_made                     Int64
field_goals_attempted                Int64
field_goal_pct                     float64
three_pointers_made                  Int64
three_pointers_attempted             Int64
three_point_pct                    float64
two_pointers_made                    Int64
two_pointers_attempted               Int64
two_point_pct                      float64
effective_fg_pct                   float64
free_throws_made                     Int64
free_throws_attempted                Int64
free_throw_pct                     float64
offensive_rebounds                   Int64
defensive_rebounds                   Int64
total_rebounds                       Int64
assists                              Int64
steals                               Int64
blocks                               Int64
turnovers                            Int64
personal_fouls                       Int64
points                               Int64
plus_minus                           Int64
wl                                  object
overtime                              bool
team_points                          Int64
opponent_points                      Int64
point_diff                           Int64
shoots                              object
dtype: object

___
## Date Range

In [28]:
# Date range of all regular season games
date_min = df["game_date"].min().date()
date_max = df["game_date"].max().date()
print(f"Date range of all games in 2024-2025 NBA regular season: \n{date_min} - {date_max}")

Date range of all games in 2024-2025 NBA regular season:
2024-10-22 - 2025-04-13

___
## Final Sanity Checks

In [30]:
# Confirm that there are 117 player names
print(f"Unique player names: {df["player_name"].nunique():,}")

Unique player names: 117

In [31]:
# Post-cleaning rows and columns
print(f"Number of rows: {df.shape[0]:,}")
print(f"Number of columns: {df.shape[1]:,}")

Number of rows: 9,603
Number of columns: 37

In [32]:
# Loop through all columns to confirm their unique values (i.e., data auditing to search for any anomalies)
for col in df.columns:
    uniques = df[col].dropna().unique()
    print(f"\n{col}:")
    print(uniques)

player_name:
['Jarrett Allen' 'Jalen Duren' 'Rudy Gobert' 'Ivica Zubac' 'Jakob Poeltl'
 'Giannis Antetokounmpo' 'Domantas Sabonis' 'Christian Braun'
 'Nikola Jokiƒá' 'Onyeka Okongwu' 'Nic Claxton' 'Evan Mobley'
 'Amen Thompson' 'Jonas Valanƒçi≈´nas' 'Nikola Vuƒçeviƒá' 'Obi Toppin'
 'Kevin Durant' 'Derrick Jones Jr.' 'Karl-Anthony Towns' 'Josh Hart'
 'Shai Gilgeous-Alexander' 'T.J. McConnell' 'Pascal Siakam'
 'Anthony Davis' 'Ty Jerome' 'LeBron James' 'Zach LaVine' 'Brook Lopez'
 'Naji Marshall' 'Harrison Barnes' 'Jimmy Butler' 'Michael Porter Jr.'
 'Mikal Bridges' 'Kawhi Leonard' 'Bradley Beal' 'Alperen ≈ûeng√ºn'
 'Dyson Daniels' 'Jaren Jackson Jr.' 'Aaron Wiggins' 'Jalen Brunson'
 'Bam Adebayo' 'Julius Randle' 'Desmond Bane' 'Jalen Williams'
 'Norman Powell' 'Santi Aldama' 'Keldon Johnson' 'Myles Turner'
 'Collin Sexton' 'Jaden McDaniels' 'DeMar DeRozan' 'Tobias Harris'
 'Deni Avdija' 'OG Anunoby' 'Victor Wembanyama' 'Cameron Johnson'
 'Jamal Murray' 'Tyrese Haliburton' 'Kyrie Irving' 'Tyler Herro'
 'Payton Pritchard' 'Darius Garland' "De'Andre Hunter" 'Kelly Oubre Jr.'
 'Cade Cunningham' 'RJ Barrett' 'Quentin Grimes' 'Josh Giddey'
 "De'Aaron Fox" 'Jaylen Brown' 'Franz Wagner' 'Naz Reid' 'Devin Booker'
 'Austin Reaves' 'Bennedict Mathurin' 'Zaccharie Risacher'
 'Toumani Camara' 'Ja Morant' 'Trey Murphy III' 'Coby White'
 'P.J. Washington' 'Paolo Banchero' 'Shaedon Sharpe' 'Jayson Tatum'
 'Luka Donƒçiƒá' 'Russell Westbrook' 'Stephen Curry' 'Andrew Wiggins'
 'Tyus Jones' 'Damian Lillard' 'Anthony Edwards' 'Scottie Barnes'
 'CJ McCollum' 'Keegan Murray' 'Devin Vassell' 'Donovan Mitchell'
 'Derrick White' 'Malik Monk' 'Tyrese Maxey' 'Kyle Kuzma' 'Jordan Poole'
 'Miles Bridges' 'Malik Beasley' 'Dillon Brooks' 'Stephon Castle'
 'Anfernee Simons' 'Jalen Green' 'Buddy Hield' 'Klay Thompson'
 'Trae Young' 'James Harden' 'Dennis Schr√∂der' 'LaMelo Ball'
 'Bub Carrington' 'Alex Sarr' 'Keyonte George' 'Keon Johnson']

team_game:
<IntegerArray>
[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76,
 77, 78, 79, 80, 81, 82]
Length: 82, dtype: Int64

game_date:
<DatetimeArray>
['2024-10-23 00:00:00', '2024-10-25 00:00:00', '2024-10-26 00:00:00',
 '2024-10-28 00:00:00', '2024-10-30 00:00:00', '2024-11-01 00:00:00',
 '2024-11-02 00:00:00', '2024-11-04 00:00:00', '2024-11-06 00:00:00',
 '2024-11-08 00:00:00',
 ...
 '2025-01-10 00:00:00', '2025-01-28 00:00:00', '2025-03-22 00:00:00',
 '2025-03-29 00:00:00', '2025-02-22 00:00:00', '2024-12-11 00:00:00',
 '2025-03-06 00:00:00', '2025-01-26 00:00:00', '2025-02-19 00:00:00',
 '2024-11-14 00:00:00']
Length: 163, dtype: datetime64[ns]

team:
['CLE' 'DET' 'MIN' 'LAC' 'TOR' 'MIL' 'SAC' 'DEN' 'ATL' 'BRK' 'HOU' 'WAS'
 'CHI' 'IND' 'PHO' 'NYK' 'OKC' 'LAL' 'DAL' 'SAS' 'MIA' 'GSW' 'MEM' 'UTA'
 'POR' 'BOS' 'PHI' 'ORL' 'NOP' 'CHO']

home_or_away:
['away' 'home']

opponent:
['TOR' 'DET' 'WAS' 'NYK' 'LAL' 'ORL' 'MIL' 'NOP' 'GSW' 'BRK' 'CHI' 'PHI'
 'CHO' 'BOS' 'ATL' 'DEN' 'MIA' 'UTA' 'DAL' 'OKC' 'IND' 'MIN' 'PHO' 'HOU'
 'MEM' 'POR' 'LAC' 'SAC' 'SAS' 'CLE']

started_game:
[ True False]

minutes_played:
[26.08333333 31.21666667 25.06666667 ... 22.8         8.18333333
 17.21666667]

field_goals_made:
<IntegerArray>
[ 5, 10,  9,  1,  6,  7,  3, 11,  4,  2, 12,  8,  0, 13, 15, 16, 14, 17, 18,
 21, 19, 22, 20]
Length: 23, dtype: Int64

field_goals_attempted:
<IntegerArray>
[ 7, 10, 12,  3, 14,  6,  8, 15,  5,  9, 13, 11,  4,  2,  1,  0, 16, 17, 19,
 18, 20, 23, 26, 22, 27, 21, 29, 34, 24, 25, 39, 33, 36, 35, 28, 30, 32, 31,
 37, 38]
Length: 40, dtype: Int64

field_goal_pct:
[0.714 1.    0.75  0.333 0.6   0.5   0.7   0.167 0.429 0.625 0.733 0.857
 0.833 0.667 0.778 0.4   0.769 0.9   0.818 0.889 0.636 0.8   0.545 0.571
 0.909 0.583 0.727 0.917 0.25  0.    0.538 0.2   0.556 0.444 0.3   0.375
 0.875 0.455 0.765 0.615 0.647 0.526 0.286 0.353 0.786 0.222 0.692 0.563
 0.706 0.813 0.867 0.789 0.55  0.643 0.722 0.467 0.688 0.611 0.462 0.842
 0.417 0.364 0.652 0.773 0.524 0.621 0.618 0.529 0.708 0.522 0.52  0.591
 0.519 0.655 0.476 0.609 0.696 0.565 0.478 0.65  0.542 0.471 0.737 0.313
 0.632 0.619 0.579 0.588 0.684 0.474 0.438 0.385 0.533 0.357 0.45  0.846
 0.564 0.586 0.421 0.424 0.543 0.536 0.682 0.435 0.64  0.143 0.308 0.214
 0.125 0.412 0.294 0.68  0.391 0.267 0.35  0.346 0.458 0.481 0.368 0.111
 0.316 0.278 0.389 0.56  0.231 0.381 0.48  0.44  0.464 0.577 0.654 0.486
 0.552 0.469 0.407 0.241 0.409 0.607 0.263 0.304 0.273 0.182 0.091 0.227
 0.188 0.235 0.176 0.581 0.238 0.423 0.154 0.1   0.083 0.261 0.318 0.516
 0.433 0.15  0.393 0.24  0.32  0.36  0.211 0.382 0.517 0.269 0.419 0.567
 0.348 0.379 0.37  0.629 0.292 0.367 0.448 0.28  0.071 0.593 0.514 0.387
 0.371 0.762 0.483 0.303 0.406 0.484 0.133 0.067 0.217 0.321 0.323 0.345
 0.447 0.314 0.344]

three_pointers_made:
<IntegerArray>
[0, 1, 2, 3, 4, 7, 5, 6, 8, 9, 10, 12]
Length: 12, dtype: Int64

three_pointers_attempted:
<IntegerArray>
[0, 1, 2, 3, 4, 5, 6, 8, 12, 7, 9, 10, 13, 14, 11, 16, 15, 18, 17, 20, 19]
Length: 21, dtype: Int64

three_point_pct:
[0.    1.    0.5   0.333 0.667 0.75  0.4   0.25  0.6   0.2   0.8   0.167
 0.583 0.429 0.286 0.3   0.375 0.385 0.125 0.545 0.571 0.273 0.444 0.222
 0.7   0.625 0.364 0.111 0.556 0.308 0.778 0.1   0.182 0.143 0.714 0.833
 0.727 0.417 0.889 0.636 0.455 0.857 0.538 0.615 0.467 0.462 0.692 0.357
 0.588 0.563 0.235 0.267 0.214 0.533 0.091 0.231 0.083 0.154 0.818 0.278
 0.353 0.438 0.471 0.632 0.313 0.389 0.529 0.294 0.45  0.368 0.474 0.643
 0.35 ]

two_pointers_made:
<IntegerArray>
[5, 10, 9, 1, 6, 7, 3, 11, 4, 2, 12, 8, 0, 13, 15, 16, 14, 17, 20, 19]
Length: 20, dtype: Int64

two_pointers_attempted:
<IntegerArray>
[ 7, 10, 12,  3, 14,  6,  8, 15,  5,  9, 13, 11,  4,  2,  0,  1, 16, 17, 19,
 18, 20, 22, 24, 27, 21, 32, 23, 26, 28, 33, 25]
Length: 31, dtype: Int64

two_point_pct:
[0.714 1.    0.75  0.333 0.6   0.5   0.7   0.167 0.429 0.625 0.733 0.857
 0.833 0.667 0.778 0.4   0.769 0.9   0.818 0.889 0.636 0.8   0.545 0.571
 0.909 0.583 0.727 0.917 0.25  0.    0.538 0.2   0.556 0.444 0.3   0.375
 0.875 0.455 0.765 0.615 0.647 0.526 0.286 0.353 0.786 0.222 0.692 0.563
 0.706 0.813 0.867 0.789 0.55  0.643 0.722 0.467 0.688 0.611 0.462 0.842
 0.364 0.682 0.773 0.524 0.63  0.529 0.739 0.542 0.679 0.632 0.708 0.591
 0.476 0.65  0.652 0.737 0.389 0.533 0.357 0.417 0.579 0.471 0.588 0.565
 0.576 0.609 0.458 0.593 0.824 0.684 0.385 0.143 0.412 0.111 0.474 0.267
 0.308 0.273 0.846 0.438 0.929 0.435 0.762 0.56  0.238 0.263 0.619 0.421
 0.231 0.368 0.654 0.45  0.1   0.35  0.409 0.182 0.125 0.381 0.091 0.316
 0.52  0.64  0.214 0.313 0.478 0.154]

effective_fg_pct:
[0.714 1.    0.75  0.333 0.6   0.5   0.7   0.167 0.429 0.625 0.733 0.857
 0.833 0.667 0.778 0.4   0.769 0.9   0.818 0.889 0.636 0.8   0.545 0.571
 0.909 0.583 0.727 0.917 0.25  0.    0.538 0.2   0.556 0.444 0.3   0.375
 0.875 0.455 0.765 0.615 0.647 0.526 0.286 0.353 0.786 0.222 0.692 0.563
 0.706 0.813 0.867 0.789 0.55  0.643 0.722 0.467 0.688 0.611 0.462 0.842
 0.417 0.364 0.731 0.652 0.773 0.524 0.638 0.632 0.529 0.708 0.543 0.52
 0.614 0.519 0.655 0.476 0.609 0.696 0.565 0.639 0.65  0.542 0.471 0.737
 0.313 0.658 0.619 0.633 0.676 0.605 1.125 0.588 0.682 0.618 0.684 0.767
 0.654 0.474 0.386 0.808 0.85  0.821 0.423 0.656 0.864 0.579 0.567 0.533
 0.591 0.944 1.143 0.357 0.607 0.844 0.673 0.477 0.475 0.885 0.69  0.675
 0.646 0.603 0.447 0.824 0.47  0.531 0.458 0.586 0.792 0.738 0.659 0.478
 0.775 0.472 0.724 0.882 0.389 0.278 0.906 0.433 0.292 0.929 0.938 0.143
 0.385 0.679 0.308 0.438 0.955 0.826 0.846 0.214 0.719 0.525 0.464 0.594
 0.409 0.923 0.528 0.35  0.711 0.125 1.045 0.45  0.421 0.479 0.536 0.553
 0.72  0.435 0.267 1.083 0.95  1.25  0.816 0.425 0.413 0.346 0.604 0.412
 0.781 0.111 1.167 0.76  0.587 0.342 1.042 0.575 0.306 0.674 0.269 0.452
 0.406 1.1   0.441 0.469 0.521 0.694 0.54  0.48  0.368 0.518 0.523 0.761
 0.596 0.46  0.62  0.763 0.717 0.324 0.672 0.365 0.31  0.683 0.407 0.259
 0.635 1.071 0.794 0.735 0.381 0.81  0.577 0.316 0.56  0.705 0.289 0.304
 1.063 0.559 0.68  0.405 0.74  0.382 0.522 0.58  1.053 0.795 0.568 0.881
 0.318 0.393 1.056 0.227 0.091 0.457 1.5   0.595 0.804 0.182 0.273 1.111
 0.233 0.367 0.361 0.63  0.395 0.548 0.893 0.391 0.64  0.188 0.265 0.958
 0.589 0.176 0.231 0.962 0.868 0.629 0.712 0.537 0.238 0.912 0.154 0.1
 0.321 0.806 0.283 0.739 0.341 0.344 0.432 0.853 0.281 0.294 0.481 0.558
 0.325 0.208 0.941 0.759 0.613 0.15  0.788 0.653 0.861 0.762 1.033 0.28
 0.704 0.34  0.44  0.211 0.841 1.091 0.083 0.456 0.36  0.593 0.288 0.617
 0.37  0.431 0.729 0.442 0.825 0.66  0.348 0.326 0.354 0.219 0.383 0.463
 0.534 0.235 0.569 1.2   0.621 0.552 0.484 0.192 0.725 0.964 1.038 0.263
 0.466 0.574 0.071 0.262 0.854 0.648 0.275 0.88  0.71  0.905 1.286 0.677
 0.685 0.396 0.597 0.133 0.852 0.107 0.661 0.78  0.067 0.261 0.179 0.355
 0.516 0.446 1.05  0.225 0.783 0.136 0.448 0.295 0.414 0.206 0.194]

free_throws_made:
<IntegerArray>
[4, 7, 3, 5, 2, 0, 1, 9, 6, 8, 16, 12, 15, 11, 10, 19, 14, 17, 18, 13, 20, 21]
Length: 22, dtype: Int64

free_throws_attempted:
<IntegerArray>
[ 5,  8,  4,  7,  2,  0,  6, 10,  1,  3, 11,  9, 14, 16, 12, 17, 26, 18, 13,
 15, 24, 21, 19, 20, 22]
Length: 25, dtype: Int64

free_throw_pct:
[0.8   0.875 0.75  0.714 1.    0.5   0.    0.6   0.9   0.7   0.667 0.833
 0.25  0.818 0.4   0.625 0.571 0.333 0.167 0.556 0.643 0.2   0.857 0.563
 0.727 0.375 0.941 0.286 0.706 0.577 0.583 0.615 0.3   0.429 0.611 0.545
 0.846 0.636 0.462 0.917 0.909 0.364 0.889 0.778 0.692 0.786 0.792 0.769
 0.938 0.933 0.944 0.813 0.824 0.923 0.867 0.765 0.647 0.688 0.467 0.538
 0.588 0.929 0.952 0.444 0.455 0.737 0.682 0.722 0.95  0.882 0.733]

offensive_rebounds:
<IntegerArray>
[2, 0, 1, 5, 3, 4, 6, 7, 8, 12, 11, 9, 10, 13]
Length: 14, dtype: Int64

defensive_rebounds:
<IntegerArray>
[5, 11, 4, 10, 14, 9, 12, 8, 2, 7, 6, 3, 13, 1, 0, 15, 16, 17, 20, 19, 18, 23]
Length: 22, dtype: Int64

total_rebounds:
<IntegerArray>
[ 7, 11,  5, 15, 17, 12, 14,  3, 10, 13,  8,  6,  9,  4, 18, 20,  0, 22, 16,
 19,  1, 25,  2, 21, 28, 23]
Length: 26, dtype: Int64

assists:
<IntegerArray>
[1, 2, 6, 3, 0, 4, 5, 7, 8, 10, 9, 12, 11, 13, 20, 15, 16, 14, 17, 19, 22, 18]
Length: 22, dtype: Int64

steals:
<IntegerArray>
[1, 0, 2, 3, 5, 4, 7, 6, 8]
Length: 9, dtype: Int64

blocks:
<IntegerArray>
[4, 1, 2, 0, 3, 6, 5, 7, 9, 10, 8]
Length: 11, dtype: Int64

turnovers:
<IntegerArray>
[1, 0, 2, 3, 4, 5, 6, 7, 8, 11, 10, 9]
Length: 12, dtype: Int64

personal_fouls:
<IntegerArray>
[1, 0, 2, 5, 4, 3, 6]
Length: 7, dtype: Int64

points:
<IntegerArray>
[14, 17, 23, 15, 20,  2, 16, 13,  4,  9, 11, 24, 21, 10,  6,  8, 12,  7, 22,
 27, 19, 25, 18, 29,  3,  0,  5, 35, 26, 28, 30, 38, 37, 34, 31, 43, 59, 41,
 32, 42, 33, 36, 39,  1, 40, 56, 48, 46, 61, 44, 45, 54, 52, 50, 51, 55, 60,
 49, 47, 53]
Length: 60, dtype: Int64

plus_minus:
<IntegerArray>
[  8,   3,  13,   2,  14,  12, -12,   6,  24,  30, -14, -23,   5,   9, -16,
  27,  11,  -9,  -6,  17, -11,  16,   7,  10,  18,  22,  -8, -18,  20,  -1,
  21,  28,  15,  -4,  -3,  31,   1, -13,   0,  -7,  -5, -22, -17, -27, -10,
 -26,   4, -19,  -2,  26,  19,  23, -15,  29, -37,  34,  35, -24,  25, -21,
  48,  32, -25, -30, -20,  36,  39,  33, -41,  47, -35, -33,  42, -34, -31,
 -29, -28, -36,  40,  43,  46,  38,  41, -40, -38, -32,  45, -39,  37]
Length: 89, dtype: Int64

wl:
['W' 'L']

overtime:
[False  True]

team_points:
<IntegerArray>
[136, 113, 135, 110, 134, 120, 114, 116, 131, 105, 119, 144, 128, 117, 122,
 124, 101, 115, 118, 126, 130, 149, 129, 132,  93, 127, 108, 137, 142, 123,
 133, 139, 112, 109, 103,  98, 106, 107,  99, 121, 100, 102, 111,  96, 125,
 104,  91, 148,  94,  97, 138, 141, 140,  92,  80,  86,  85,  95,  71,  87,
  89,  88,  90, 146, 143, 145, 147,  67,  84,  82,  83, 162,  81, 155, 151,
 153,  76,  79]
Length: 78, dtype: Int64

opponent_points:
<IntegerArray>
[106, 101, 116, 104, 110, 109, 113, 114, 122, 117, 100, 126, 120, 108, 135,
 111,  87, 102, 105,  99,  95, 134,  92, 132,  91, 115, 112, 124, 107,  97,
 123,  82, 129, 133, 128, 103, 121, 127, 131, 130, 125,  96,  94,  98, 119,
 118, 143,  81, 140,  93,  80,  90,  89, 139,  88,  67, 136, 138, 155,  86,
 137,  85, 144, 145, 149, 141, 148,  83,  84, 142, 151, 146, 147,  79,  71,
  76, 153, 162]
Length: 78, dtype: Int64

point_diff:
<IntegerArray>
[ 30,  12,  19,   6,  24,  11,   1,   2,   9,   5,
 ...
  45,  51,  49, -44, -45,  54, -46, -49, -51, -53]
Length: 102, dtype: Int64

shoots:
['Right' 'Left']

### ‚úÖ
`three_point_pct` and `free_throw_pct` no longer have any values greater than 1.

In [34]:
# Final confirmation that there are no `three_point_pct` values > 1.0
df.loc[df["three_point_pct"] > 1, ["player_name", "game_date", "three_pointers_made", "three_pointers_attempted", "three_point_pct"]]

Empty DataFrame
Columns: [player_name, game_date, three_pointers_made, three_pointers_attempted, three_point_pct]
Index: []

### ‚úÖ

In [36]:
# Final confirmation that there are no `free_throw_pct` values > 1.0
df.loc[df["free_throw_pct"] > 1, ["player_name", "game_date", "free_throws_made", "free_throws_attempted", "free_throw_pct"]]

Empty DataFrame
Columns: [player_name, game_date, free_throws_made, free_throws_attempted, free_throw_pct]
Index: []

### ‚úÖ

___
## Cleaning Complete ‚úÖ

With these data anomalies addressed and corrected, it is now safe to advance to the merging notebook (Notebook 03).

___
## Save

In [41]:
# Save to CSV
df.to_csv("NBA_2024_25_game_logs_cleaned.csv", index=False)