# ðŸ€ NBA 2024-2025: Slumps & Recoveries
## Notebook 03 - Data Merging
This notebook merges the cleaned game logs data (from Notebook 02) with:

- [NBA 2024-2025 Per Game Stats](https://www.basketball-reference.com/leagues/NBA_2025_per_game.html) (copied and pasted into `.txt` file)
- [NBA 2024-2025 Shooting Stats](https://www.basketball-reference.com/leagues/NBA_2025_shooting.html) (copied and pasted into `.txt` file)

The goal is to add **three additional columns** to the cleaned game logs data:

- position
- age
- average shot distance (season-long aggregate)

In [2]:
# Import libraries
import pandas as pd
import numpy as np

___
## Load Data

In [4]:
# Load cleaned game logs (from Notebook 02)
cleaned = pd.read_csv(r"C:\Users\dylan\OneDrive\Documents\Portfolio_Projects\project10_NBA_2025_game_logs\03_python_outputs\01_cleaning\NBA_2024_25_game_logs.csv")

print(f"Loaded: {cleaned.shape[0]:,} rows | {cleaned["player_name"].nunique():,} players")

Loaded: 9,603 rows | 117 players

In [5]:
# Load Per Game Stats .txt file
per_game = pd.read_csv(r"C:\Users\dylan\OneDrive\Documents\Portfolio_Projects\project10_NBA_2025_game_logs\01_original_data\to_merge\NBA_league_leaders_per_game.txt")

print(f"Loaded: {per_game.shape[0]:,} rows | {per_game["player_name"].nunique():,} players")

Loaded: 117 rows | 117 players

In [6]:
# Load Shooting Stats .txt file
shooting_stats = pd.read_csv(r"C:\Users\dylan\OneDrive\Documents\Portfolio_Projects\project10_NBA_2025_game_logs\01_original_data\to_merge\NBA_league_leaders_shooting.txt")

print(f"Loaded: {shooting_stats.shape[0]:,} rows | {shooting_stats["player_name"].nunique():,} players")

Loaded: 117 rows | 117 players

___
## Merge "Per Game Stats"

In [8]:
# Show all columns
per_game.columns

Index(['Rk', 'player_name', 'age', 'team', 'pos', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Awards', 'Player-additional'],
      dtype='object')

> Only `age` and `pos` are needed.

In [10]:
# Keep only `age` and `pos` columns (and `player_name` as linking field)
per_game_needed_cols = per_game[["player_name", "age", "pos"]].copy()

# Rename `pos` to `position` for clarity
per_game_needed_cols = per_game_needed_cols.rename(columns={"pos": "position"})

In [11]:
# Merge these 2 columns back into the cleaned game logs data
cleaned_merged = cleaned.merge(per_game_needed_cols, on="player_name", how="left")

___
## Sanity Checks

In [13]:
# Confirm these new columns successfully merged
cleaned_merged[["player_name", "age", "position"]]

        player_name  age position
0     Jarrett Allen   26        C
1     Jarrett Allen   26        C
2     Jarrett Allen   26        C
3     Jarrett Allen   26        C
4     Jarrett Allen   26        C
...             ...  ...      ...
9598   Keon Johnson   22       SG
9599   Keon Johnson   22       SG
9600   Keon Johnson   22       SG
9601   Keon Johnson   22       SG
9602   Keon Johnson   22       SG

[9603 rows x 3 columns]

âœ…

In [15]:
# Confirm that there are zero players without a position
cleaned_merged[cleaned_merged["position"].isna()]["player_name"].unique()

array([], dtype=object)

âœ…

___
## Merge "Shooting Stats"

In [18]:
# Show all columns
shooting_stats.columns

Index(['Rk', 'player_name', 'Age', 'Team', 'Pos', 'G', 'GS', 'MP', 'FG%',
       'distance', '2P', '0-3', '3-10', '10-16', '16-3P', '3P', '2P.1',
       '0-3.1', '3-10.1', '10-16.1', '16-3P.1', '3P.1', '2P.2', '3P.2', '%FGA',
       '#', '%3PA', '3P%', 'Att.', 'Md.', 'Awards', '-9999'],
      dtype='object')

> Only `distance` is needed.

In [20]:
# Keep only `distance` column (and `player_name` as linking field)
shooting_stats_needed_cols = shooting_stats[["player_name", "distance"]].copy()

In [21]:
# Merge this column back into the cleaned game logs data
merged_final = cleaned_merged.merge(shooting_stats_needed_cols, on="player_name", how="left")

___
## Sanity Checks

In [23]:
# Confirm that all new columns successfully merged
merged_final[["player_name", "age", "position", "distance"]]

        player_name  age position  distance
0     Jarrett Allen   26        C       3.6
1     Jarrett Allen   26        C       3.6
2     Jarrett Allen   26        C       3.6
3     Jarrett Allen   26        C       3.6
4     Jarrett Allen   26        C       3.6
...             ...  ...      ...       ...
9598   Keon Johnson   22       SG      15.6
9599   Keon Johnson   22       SG      15.6
9600   Keon Johnson   22       SG      15.6
9601   Keon Johnson   22       SG      15.6
9602   Keon Johnson   22       SG      15.6

[9603 rows x 4 columns]

In [24]:
# Confirm that there are zero players without a distance
merged_final[merged_final["distance"].isna()]["player_name"].unique()

array([], dtype=object)

âœ…

___
## Save

The data has been prepped and is now ready for analysis in the next notebook (Notebook 04).

In [28]:
# Save to CSV
merged_final.to_csv("NBA_2024_25_game_logs_merged.csv", index=False)